* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.header {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.header_left a {
  text-decoration: none !important;
}

.header_left a span {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.header_right  a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none !important;
  padding-left: 10px;
}

.header_right a:hover {
  color: white !important;
}

.header_right_app > img {
  cursor: pointer;
}

.nav_app {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav_app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_app ul a {
  text-decoration: none;
}

.nav_app ul a li {
  display: block;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  background-color: #5f5d5d;
}

.nav_app ul a li:hover {
  background-color: skyblue;
}

.about_title {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.main {
  width: 100%;
  margin: 50px 0;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.map_img {
  width: 550px;
  height: 500px;
  border: #ccc solid 1px;
  box-sizing: border-box;
}

.map_content {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  background-color: rgba(41, 39, 39, 0.6);
  padding: 40px;
  box-sizing: border-box;
}

.map_content_item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.map_content_item_btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #0c88e8;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.map_content_item_btn:hover {
  background-color: #3daafc;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(155, 151, 151);
  color: #fff;
  padding-top: 20px;
}

.footer_main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-around;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footer_main_item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.footer_main_item > img {
  width: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}

.footer_bottom {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid rgb(201, 194, 194);
}

@media screen and (max-width: 1240px) {
  .map_img{
    width: 1100px;
  }

  .map_content {
    width: 1100px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: 90%;
  }

  .about_title {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .map_class {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .header_right_app {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header_right {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .map_class {
    width: 100%;
    height: 350px;
  }

  .footer_main_item {
    width: 150px;
  }
}
