* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    /* background-color: #ff4c4f; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header_left {
    flex: 1;
    /* margin-left: 100px; */
    align-self: center;
}

.header_left a {
    text-decoration: none;
    color: black;
}

.header_right {
    flex: 1;
    align-self: center;
    text-align: right;
}

.header_right a {
    color: black;
    padding-left: 5px;
    text-decoration: none;
}

.swiper-container {
    width: 1200px;
    height: 500px;
}

.main {
    width: 1200px;
    margin: 0 auto;
    height: auto;
}

.member_team {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    margin-top: 10px;
    width: 350px;
    height: auto;
}

.member_img_1 {
    height: 200px;
    background-image: url(./images/海贼王1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1;
}

.member_img_2 {
    height: 200px;
    background-image: url(./images/璀璨星空2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1;
}

.member_img_3 {
    height: 200px;
    background-image: url(./images/初音未来7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1;
}

.member_text {
    height: auto;
    flex: 1;
}

.member_text>p {
    text-indent: 2em;
    margin: 0 20px;
    line-height: 30px;
}

.footer {
    width: 100%;
    height: 205px;
    background-color: rgb(155, 151, 151);
}

.footer_top {
    width: 100%;
    height: 180px;
}

.footer_top_left {
    width: 65%;
    float: left;
    text-align: center;
}

.footer_top_left p {
    padding-top: 20px;
    height: 30px;
    text-align: left;
    padding-left: 20%;
}

.footer_top_right {
    width: 35%;
    float: left;
}

.footer_top_right img {
    width: 120px;
    padding-top: 30px;
}

.footer_bottom {
    height: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
}

@media screen and (max-width: 1200px) {
    .header {
        width: 100%;
    }

    .swiper-container {
        width: 100%;
        height: 500px;
    }

    .main {
        width: 100%;
    }

    .member_team {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .swiper-container {
        width: 100%;
        height: 300px;
    }
}