* {
  margin: 0;
  padding: 0;
}

.header {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_left a {
  text-decoration: none;
}

.header_left a span {
  line-height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.header_right a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 50px;
  padding-left: 10px;
}

.header_right_app > img {
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.nav_app {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav_app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_app ul a {
  text-decoration: none;
}

.nav_app ul a li {
  display: block;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  background-color: #5f5d5d;
}

.nav_app ul a li:hover {
  background-color: skyblue;
}

.swiper-container {
  width: 100%;
  height: 750px;
}

.swiper-wrapper img {
  object-fit: cover;
}

.main {
  width: 1200px;
  margin: 0 auto;
  height: auto;
}

.server_main {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(155, 151, 151,0.3);
}

.server_item {
  padding-top: 10px;
  height: 200px;
  width: 200px;
  height: auto;
  text-align: center;
}

.member_team {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member {
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member_left {
  width: 50%;
  min-width: 300px;
  height: 300px;
  float: left;
}

.member_left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member_right {
  width: 50%;
  min-width: 300px;
  height: 300px;
  float: left;
  position: relative;
  background-color: rgb(155, 151, 151,0.3);
}

.member_right_info {
  position: absolute;
  bottom: 40px;
  left: 5%;
  right: 5%;
  padding-top: 40px;
  border-top: 1px solid rgb(155, 151, 151);
  color: #5f5d5d;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 205px;
  background-color: rgb(155, 151, 151);
}

.footer_top {
  width: 100%;
  height: 180px;
}

.footer_top_left {
  width: 65%;
  float: left;
  text-align: center;
}

.footer_top_left p {
  padding-top: 20px;
  height: 30px;
  text-align: left;
  padding-left: 20%;
}

.footer_top_right {
  width: 35%;
  float: left;
}

.footer_top_right img {
  width: 120px;
  padding-top: 30px;
}

.footer_bottom {
  height: 20px;
  width: 100%;
  text-align: center;
  border-top: 1px solid gray;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 90%;
  }

  .swiper-container {
    height: 500px;
  }

  .main {
    width: 90%;
  }

  .server_main {
    width: 100%;
    justify-content: space-around;
  }

  .member_team {
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .server_item {
    width: 300px;
  }
}

@media screen and (min-width: 700px) {
  .header_right_app {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .swiper-container {
    height: 300px;
  }

  .header_right {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .member_left {
    width: 400px;
  }

  .member_right {
    width: 400px;
  }
}
