* {
    margin: 0;
    padding: 0;
}

html{
    height:100%;
}
body{
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
}

.header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    /* background-color: #ff4c4f; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header_left {
    flex: 1;
    /* margin-left: 100px; */
    align-self: center;
}

.header_right {
    flex: 1;
    align-self: center;
    text-align: right;
}

.header_right a {
    color: black;
    padding-left: 5px;
    text-decoration: none;
}

.news_title {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.news_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news_card {
    width: 250px;
    height: auto;
    cursor: pointer;
    margin: 10px 20px;
    border: 1px solid #a9c9e2;
}

.news_card:hover {
    transition: all 0.6s;
    transform: scale(1.1);
}

.article_image > img {
    width: 250px;
    height: 200px;
}

.article_content {
    height: 80px;
}

.arc_header {
    height: 25px;
}

.arc_date_img {
    float: left;
}

.arc_date_img > img {
    width: 20px;
    align-items: center;
    margin-left: 10px;
}

.arc_date > span {
    color: gray;
    font-size: 14px;
    align-items: center;
    margin-left: 2px;
}

.page {
    height: 50px;
    margin-top: 50px;
}

.page_btn_list{
    height: 100%;
    width: 300px;
    margin: 0 auto;
}

.page_btn_list ul {
    text-decoration: none;
    list-style: none;
}

.page_btn_list button {
    float: left;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    transition: 0.8s;
    cursor: pointer;
    padding: 8px 20px;
    color: white;
}
.pageActive {
    background-color: #5a28e2 !important;
}

.page_btn_list button:focus,
.page_btn_list button:active {
    outline: none;
}

.page_btn_list button.active,
.page_btn_list button:hover {
    background-color: #5a28e2;
}

.footer {
    margin-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer_p {
    text-align: center;
    border-top: 1px solid gray;
}

@media screen and (max-width: 1200px) {
    .header {
        width: 100%;
    }
    .news_title{
        width: 100%;
    }
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .news_list {
        justify-content: space-around;
    }
    /* .news_card{
        width: 400px;
    }
    .article_image > img {
        width: 400px;
        height: 250px;
    } */
}
