<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./images/faviconWeb.ico"
      type="image/x-icon"
    />
    <title>漫游吧_新闻列表</title>
    <link rel="stylesheet" href="./news.css" />
    <script src="../vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./styles.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        style="
          width: 100%;
          height: 50px;
          background-color: #5f5d5d;
          border-bottom: 1px solid #b9b0b0;
        "
      >
        <div class="header">
          <div class="header_left">
            <img src="./images/avatar.jpg" class="avatar" />
            <a href="./index.html">
              <span>漫游吧</span>
            </a>
          </div>
          <div class="header_right">
            <a href="./index.html">首页</a>
            <a href="./news.html">新闻列表</a>
            <a href="./about.html">关于我们</a>
          </div>
          <div class="header_right_app">
            <img src="./images/菜单.png" alt="" width="30px" />
          </div>
        </div>
      </div>
      <div class="nav_app">
        <ul>
          <a href="index.html">
            <li>首页</li>
          </a>
          <a href="news.html">
            <li>新闻</li>
          </a>
          <a href="about.html">
            <li>关于我们</li>
          </a>
        </ul>
      </div>
      <h3 class="news_title">新闻列表页</h3>
      <div class="main">
        <div class="news_list" v-if="!isLoading">
          <div
            class="news_card"
            v-for="(article, index) in articles"
            :key="index"
            @click="readID(article.id)"
          >
            <div class="article_image">
              <img :src="article.image" alt="" />
            </div>
            <div class="article_content">
              <div class="arc_header">
                <div class="arc_date_img">
                  <img src="./images/日历.png" alt="" />
                </div>
                <div class="arc_date">
                  <span>
                    {{article.year + "-" + article.month + "-" + article.day}}
                  </span>
                </div>
              </div>
              <div class="arc_title">
                <p style="margin-left: 10px">{{article.title}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="loading_list" v-else>
          <div class="loading_card" v-for="index in loadings" :key="index">
            <img src="./images/loading.gif" alt="" />
          </div>
        </div>
        <div class="page" v-show="isShow">
          <div class="page_btn_list">
            <ul>
              <li>
                <button @click="prePage"><</button>
              </li>
              <li v-for="index in pageNum">
                <button
                  @click="toPage(index)"
                  :class="{pageActive: currentPage == index}"
                  style="margin-left: 10px"
                >
                  {{index}}
                </button>
              </li>
              <li>
                <button
                  @click="nextPage"
                  style="margin-left: 10px; float: left"
                >
                  >
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_main">
          <div class="footer_main_item">
            <img src="./images/地址.png" alt="" />
            <span>福建省福州市晋安区</span>
          </div>
          <div class="footer_main_item">
            <img src="./images/邮件.png" alt="" />
            <span>12345678910@qq.com</span>
          </div>
          <div class="footer_main_item">
            <img src="./images/手机.png" alt="" />
            <span>12345678910</span>
          </div>
          <div class="footer_main_item">
            <img src="./images/scan.jpg" alt="" />
          </div>
        </div>
        <div class="footer_bottom">
          <span>版权所有@方友鑫</span>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            articles: [],
            pageNum: 0, //总页数
            totalPage: [], //总数据
            currentPage: 1, //当前页
            pageSize: 8, //每页显示个数
            isShow: false,
            isLoading: true,
            loadings: 8,
            lastLength: 0
          };
        },
        created() {
          this.getArticles();
        },
        methods: {
          async getArticles() {
            const res = await axios.get(
              `https://www.fastmock.site/mock/e9270e68f2c1a1c8fcd776e7165a8ad3/articles/api/articlesList?page=${this.currentPage}`
            );
            console.log(res.data.articlesList);
            this.pageNum = Math.ceil(res.data.articlesList.total / this.pageSize) || 1;
            this.lastLength = res.data.articlesList.total % 8;
            this.loadings = 8;
            this.articles = res.data.articlesList.data;
            console.log(this.pageNum);
            this.isShow = true;
            this.isLoading = false;
          },
          readID(id) {
            window.location.href = `./news-detail.html?id=${id}`;
          },
          async prePage() {
            if (this.currentPage == 1) {
              return;
            }
            this.currentPage--;
            this.isLoading = true;
            this.getArticles();
          },
          async nextPage() {
            if (this.currentPage == this.pageNum) {
              return;
            }
            this.currentPage++;
            if (this.currentPage == this.pageNum) {
              this.loadings = this.lastLength;
            }
            this.isLoading = true;
            this.getArticles();
          },
          async toPage(index) {
            this.currentPage = index;
            if(this.currentPage == this.pageNum){
              this.loadings = this.lastLength;
            }
            this.isLoading = true;
            this.getArticles();
          },
        },
      });
    </script>
  </body>
</html>
