html {
    min-width: 375px;
    height: 100%;
    overflow-y: auto;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    display: block;
    width: 100vw;
    text-align: center;
}

.tab {
    margin: 15px 0;
    width: 100vw;
    text-align: center;
}

.tab-list {
    margin: 0 10px;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.8s;
    cursor: pointer;
}

.tab-list:focus,
.tab-list:active {
    outline: none;
}

.tab-list.active,
.tab-list:hover {
    background-color: #5a28e2;
    color: white;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}

.add_hide {
    display: none;
}

.add_more {
    display: block;
    width: 100vw;
    text-align: center;
}

.addBtn {
    margin: 10px auto;
    width: 100px;
    padding: 8px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    border-radius: 10px;
    /* future proofing */
    -khtml-border-radius: 10px;
    /* for old Konqueror browsers */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 1220px) {
    .list-content {
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .list-content {
        width: 800px;
    }
}

@media (max-width: 840px) {
    .list-content {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .list-content {
        width: 500px;
    }
}

@media (max-width: 520px) {
    .list-content {
        width: 100%;
    }

    .tab-list {
        margin: 0 10px;
        margin-top: 8px;
        width: 120px;
    }
}