* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ff4c4f;
  display: flex;
}

.header_content {
  width: 1100px;
  background-color: #ff4c4f;
  display: flex;
  margin: 0 auto;
}

.header_left {
  display: flex;
  width: 75%;
  /* margin-left: 100px; */
}

.header_left img {
  height: 35px;
  width: 35px;
  margin-top: 7px;
  margin-right: 5px;
}

.header_left span {
  margin-top: 15px;
  color: white;
}

.header_right_app {
  position: relative;
  display: inline-block;
}

.drop_btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  outline: none;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 14px;
  min-width: 110px;
  left: -20px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #f1f1f1
}

.header_right_app:hover .dropdown_content {
  display: block;
}

.header_right_app:hover .dropbtn {
  background-color: #3e8e41;
}

.header_right {
  width: 25%;
  display: flex;
}

.header_right a {
  color: white;
  padding-left: 10px;
  margin-top: 15px;
}

.content {
  width: 1100px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.content hr {
  margin-top: 5px;
  height: 3px;
  background-color: red;
  width: 20%;
  text-align: center;
  margin-left: 40%;
}

.content_movie {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  text-align: center;
  flex-wrap: wrap;
}

.content_movie_item {
  background-color: #fef0ef;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.content_movie_item img {
  width: 250px;
  height: 400px;
}

.content_book {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  text-align: center;
  flex-wrap: wrap;
}

.content_book_item {
  background-color: #fef0ef;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.content_book_item img {
  width: 250px;
  height: 400px;
}

.footer {
  width: 100%;
  height: 205px;
  background-color: #ff4c4f;
}

.footer_top {
  width: 100%;
  height: 180px;
}

.footer_top_left {
  width: 65%;
  float: left;
  text-align: center;
}

.footer_top_left p {
  padding-top: 75px;
  height: 30px;
}

.footer_top_right {
  width: 35%;
  float: left;
}

.footer_top_right img {
  width: 120px;
  padding-top: 30px;
}

.footer_bottom {
  height: 20px;
  width: 100%;
  text-align: center;
  border-top: 1px solid gray;
}

@media screen and (max-width: 1260px) {
  .header_content {
    width: 1000px;
  }

  .content {
    width: 1000px;
  }

  .content_movie_item {
    width: 200px;
    height: 350px;
  }

  .content_movie_item img {
    width: 200px;
    height: 330px;
  }

  .content_book_item {
    width: 200px;
    height: 350px;
  }

  .content_book_item img {
    width: 200px;
    height: 330px;
  }

  .content_movie {
    width: 1000px;
  }

  .content_book {
    width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .header_content {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .content_movie {
    width: 100%;
  }

  .content_book {
    width: 100%;
  }
}

@media screen and (min-width: 850px) {
  .header_right_app {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .header_right {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .header_content {
    width: 700px;
  }

  .content {
    width: 700px;
  }

  .content_movie_item {
    width: 270px;
    height: 380px;
  }

  .content_movie_item img {
    width: 270px;
    height: 360px;
  }

  .content_book_item {
    width: 270px;
    height: 380px;
  }

  .content_book_item img {
    width: 270px;
    height: 360px;
  }

  .content_movie {
    width: 100%;
  }

  .content_book {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .header_content {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}