.container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

/* .flex {
    display: flex;
} */

.flex-nowrap {
    flex-wrap: nowrap;
}

/* .flex-wrap {
    flex-wrap: wrap;
} */

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.instruction_content {
    min-width: 300px;
}

.players_content {
    min-width: 300px;
}

.player_input {
    width: 210px;
    height: 30px;
    border-radius: 6px;
    margin-right: 10px;
    line-height: 30px;
    text-indent: 3px;
    outline: none;
}

.submit_btn {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(106, 196, 231);
}

.battle_btn {
    min-width: 200px;
    min-height: 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: tomato;
}

.showPlayer {
    width: 300px;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.08);
}

.delete_btn {
    border: none;
    outline: none;
    margin-right: 10px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.disabled_btn {
    opacity: 0.2;
    pointer-events: none;
}

.container_end {
    width: 1200px;
    margin: 0 auto;
}

.reget_btn {
    min-width: 200px;
    min-height: 40px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: yellowgreen;
}

@media (max-width:1200px) {
    .container {
        width: 100%;
    }

    .container_end {
        width: 100%;
    }
}