.cart_btn1 {
    position: fixed;
    top: 120px;
    right: 60px;
}

.cart_btn2 {
    position: fixed;
    top: 120px;
    right: 15px;
}

@media screen and (max-width: 600px) {
    .cart_btn1 {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .cart_btn2 {
        display: none;
    }
}