.card {
    width: 300px;
    margin: 10px !important;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1170px) {
    .products_list{
        justify-content: space-around;
    }
}

@media (max-width: 460px) {
    .card {
        width: 250px;
        margin: 10px;
    }
}